# Supabase
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_DB_PASSWORD=your-db-password

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/nexium-mongo?retryWrites=true&w=majority

# Prisma
DATABASE_URL=postgresql://postgres:your-db-password@db.project-id.supabase.co:5432/postgres

# Vercel
VERCEL_TOKEN=your-vercel-token

# n8n
N8N_WEBHOOK_URL=http://localhost:5678
